@using CelSerEngine.Core.Models
@using CelSerEngine.Core.Extensions

<div class="d-flex vh-100">
    <div class="d-flex flex-column flex-grow-1 row-gap-2 m-2">
        <div class="d-flex flex-row gap-2">
            <button @onclick="OpenSelectProcess" type="button" class="btn btn-icon btn-light border">
                <img height="25" src="/SelectProcess.png" />
            </button>
            <div class="d-flex flex-column flex-grow-1 text-center">
                <div class="lh-sm">@(EngineSession.SelectedProcess?.DisplayString ?? "- No Process Selected -")</div>
                <div class="progress flex-grow-1">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: @_progressBarValue%"></div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row gap-2">
            <VirtualizedAgGrid @ref="_virtualizedAgGridRef"
                               Items="_scanResultItems"
                               GetRowId='(x) => x.Address.ToString("X")'
                               SerializableItem='(x) => new { Address = x.Address.ToString("X"), x.Value, x.PreviousValue }'>
            </VirtualizedAgGrid>

            <div class="d-flex flex-column gap-2 mt-4" style="width: 300px">
                <div class="form-group has-search">
                    <span class="bi bi-search form-control-feedback"></span>
                    <input @bind-value="_searchValue" @bind-value:event="oninput" @onkeydown="@Enter" id="filter-text-field" type="search" class="form-control" placeholder="Value">
                </div>

                @* buttons *@
                <div class="d-flex gap-1 mb-3">
                    @if (_isFirstScan)
                    {
                        <button @onclick="FirstScan" type="button" class="btn btn-primary">First Scan</button>
                    }
                    else
                    {
                        <button @onclick="FirstScan" type="button" class="btn btn-primary">New Scan</button>
                    }
                    <button @onclick="NextScan" type="button" class="btn btn-outline-primary">Next Scan</button>
                </div>

                @* scan type & value type *@
                <div class="d-inline-flex gap-2">
                    <label for="scanCompareType" class="text-end align-self-center" style="width: 100px">Scan Type</label>
                    <select id="scanCompareType" @bind="_selectedScanCompareType">
                        @foreach (var item in Enum.GetValues<ScanCompareType>())
                        {
                            <option value="@item">@item.GetDisplayName()</option>
                        }
                    </select>
                </div>
                <div class="d-inline-flex gap-2">
                    <label for="selectScanDataType" class="text-end align-self-center" style="width: 100px">Value Type</label>
                    <select id="selectScanDataType" @bind="_selectedScanDataType">
                        @foreach (var item in Enum.GetValues<ScanDataType>())
                        {
                            <option value="@item">@item.GetDisplayName()</option>
                        }
                    </select>
                </div>

            </div>
        </div>

        <div class="d-flex flex-grow-1">
            <div id="trackedItemsGrid" class="ag-theme-quartz flex-grow-1" style="min-height: 200px"></div>
        </div>
    </div>
</div>

<button @onclick="OpenSelectProcess" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    Open Process Selector
</button>

<button @onclick="NextScan" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    Next Scan
</button>

<script>
    new SlimSelect({
        select: '#selectScanDataType',
        settings: {
            showSearch: false,
        }
    });
    new SlimSelect({
        select: '#scanCompareType',
        settings: {
            showSearch: false,
        }
    });

    // Grid Options: Contains all of the grid configurations
    const gridOptions = {
        defaultColDef: {
            suppressMovable: true,
            flex: 1
        },
        rowSelection: 'multiple',
        // Column Definitions: Defines the columns to be displayed.
        columnDefs: [
            {
                field: "Name",
                headerName: "Process",
                sortable: false,
                resizable: false
            }
        ]
    };

    const trackedItemsGridElement = document.querySelector('#trackedItemsGrid');
    agGrid.createGrid(trackedItemsGridElement, gridOptions);
</script>